.chart-images {
    max-width: 80%;
    padding: 10px 2px 2px 2px;
}

.gtm {
    width: 70%;
    margin: auto;
    display: block;
}

.regexr {
    width: 80%;
    margin: 115px auto 115px auto;
    display: block;
}

.center {
    display: block; 
    width: 50%; 
    margin: auto;
}
